<html>
    <head>
        <title>Midterm App</title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <h1>LOGIN YOUR ACCOUNT</h1>
        <br>
        <br>
        <label>Username: </label>
        <br>
        <br>
        <input type="text" placeholder="username">
        <br>
        <br>
        <label>Password: </label>
        <br>
        <br>
        <input type="password" placeholder="password">
        <br>
        <br>
        <button type="button">LOGIN</button>
        <br>
        <br>
        <button type="button">REGISTER</button>
    </body>
</html>